<div class="table-responsive">

  <table class="table table-bordered table-sm">
    <thead class="thead-default">
      <tr>
        <th>Anno</th>
        <th scope="row">Numero</th>
        <th>Proponente</th>
        <th>Oggetto</th>
        <th>Data Inizio Pubb.</th>
        <th>Data Fine Pubb.</th>
        <th>Data Esec.</th>
        <th>Documenti</th>
      </tr>
    </thead>
    <tbody>
      <% data.database["Delibere di Giunta"]["2016"].values.each do |record| %>
        <tr>
          <td><%= record["year"] %></td>
          <th scope="row">
            <a name="<%= record["number"] %>" href="#<%= record["number"] %>">
              <%= record["number"] %>
            </a>
          </th>
          <td><%= record["author"] %></td>
          <td>
            <%= record["subject"] %>
          </td>
          <td><%= record["startingPublicationDate"] %></td>
          <td><%= record["endingPublicationDate"] %></td>
          <td><%= record["executionDate"] %></td>
          <td>
            <% if record["documents"]["deepLink"] %>
              <% record["documents"]["list"].each do |path| %>
                <a href="<%= path %>" class="download-link">
                  <button type="button" class="btn btn-primary btn-default btn-sm" data-toggle="tooltip" title="<%= File.basename(path) %>" data-placement="left">
                    <i class="fa fa-download" aria-hidden="true"></i>
                  </button>
                </a>
              <% end %>
            <% else %>
              <% path = record["documents"]["fullPath"] %>
              <a href="<%= path %>" class="download-link">
                <button type="button" class="btn btn-primary btn-default btn-sm" data-toggle="tooltip" title="<%= File.basename(path) %>" data-placement="left">
                  <i class="fa fa-download" aria-hidden="true"></i>
                </button>
              </a>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
